services:
  - type: web
    name: mypoll-backend
    runtime: node
    plan: free
    rootDir: ./backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
      - key: MONGODB_URI
        value: mongodb+srv://nishthapandey:nishthap123@cluster0.u7j2jha.mongodb.net/?appName=Cluster0
